<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mission to mars app</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static\style.css" type="text/css"/>

  <style>
    .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 50px 25px;
    }
    
    .container-fluid {
      padding: 60px 50px;
    }

    .bg-grey {
  background-color: #f6f6f6;
    }
    </style>
</head>



<body>

<div class="jumbotron text-center" >
  <h1>Mission to Mars</h1>
  <p>Our Mars facts are out of this world!</p>
  <div class="d-grid gap-2">
    <a type="button" href = "/scrape" class="btn btn-primary">Scrape some data!</a>

  </div>
</div>



<div class="container-fluid"  >
  <div class="row";>
    <div class="col-sm-8">
      <h3>Latest Mars News</h3>
      <h4>{{mars.news_title}}</h4> 
      <p>{{mars.news_paragraph}}</p>
  <a class="btn btn-success" href = 'https://redplanetscience.com/' target="_blank">Find more interesting Mars news</a>
    </div>
  </div>

</div>

<div class="container-fluid  bg-grey" >
  <div class="row">
    <div class="col-sm-6">
      <h3>Daily Featured Image</h3>
        <img src="{{ mars.featured_image}}", class="img-fluid", alt="Featured Image" width="320" height="220">
      </div>
    <div class="col-sm-6">
        <h3>Mars Facts</h3>
        {{ mars.facts|safe}}
    </div>
    </div>


  </div>
</div>


<br>
<br>


<div class="container-fluid text-center bg-grey">
  <h2>Hemispheres of Mars</h2>
  <h4>The four sides of Mars</h4>
  <div class="row text-center">
    <div class="col-sm-3">
      <div class="thumbnail">
        <img src="{{mars.hemispheres[0].img_url}}">
        <p><strong>{{mars.hemispheres[0].title}}</strong></p>

      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
        <img src="{{mars.hemispheres[1].img_url}}">
        <p><strong>{{mars.hemispheres[1].title}}</strong></p>

      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
        <img src="{{mars.hemispheres[2].img_url}}">
        <p><strong>{{mars.hemispheres[2].title}}</strong></p>

      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
        <img src="{{mars.hemispheres[3].img_url}}">
        <p><strong>{{mars.hemispheres[3].title}}</strong></p>

      </div>
    </div>
</div>

<br>
<br>


</div>















</tr>
</tbody>
</table>

















</body>


</html>